* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.header {
  text-align: center;
  /* font-size: 10rem; */
}

.container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.btn {
  font-size: 5rem;
  border-style: none;
  background-color: aqua;
  border-radius: 1000px;
  width: 10%;
}

.input-field {
  display: block;
  margin: 2rem auto;
  font-size: 5rem;
  border-style: none;
  border-bottom: 4px dotted #000;
  text-align: center;
}
